 :root {
  /* IEs */
  --umesp:   #00529C;
  --granbery:#1D174F;
  --izabela: #C4161C;
  --fames:   #006F3D;
  --unimep:  #FCAB40;
  --ipa:     #E5A912;
  
  /*basicas */
  --branco: #e2e2e2;
  --preto:  #121212;
  --amarelo:#E5A912;
  --azul:   #171241;
  --azul2:  #2F6EB3;

  /* alternativas */
  --link1:#2F6EB3;
  --link2:#808283;
  --link3:#ED1C24;
  --link4:#8B0304;
  --link5:#00682b;
  
}

/* Geral */
body {
  font-family: "Montserrat", Arial, sans-serif;
}
p {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--preto);
}
h1{
  font-size: 25px;
  font-weight: bold;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
  color: var(--branco);
}
a:hover{
 color: var(--preto);
}

.logo {
  max-width: 85%;
}


/* Boostrap Override */
.bg-light {
    background-color: #e2e2e2 !important;
}


/* Background */
.stripes {
    background-image: url(../images/bg_verde.jpg);
    /* background-attachment: scroll; */
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 1487px;
}
.mobile-wrapper{
    display: none;
  }


/* Conteúdo */
.push-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top:35%;
}
.special > .container{
  max-width: 95%;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

 /*Page - Vestibular */
 
.tab-container {
  align-self: flex-end;
  justify-content: center;
}
.tabs {
  position: relative;
  background: transparent;
  padding: 20px 50px;
  width: 100%;
  /* min-height: 550px; REATIVAR QUANDO TIVER MAIS ITEMS!!!!  */
  min-width: 240px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  
}
@media (max-width: 991.98px) {
  .tabs {
    margin-top: 20px;
   
  }
}
.tabs h3 {
  color: var(--branco);
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding: 20px 10px;
  color: var(--branco);
  text-transform: uppercase;
  background-color: var(--link5);
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 250px;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--branco);
  padding: 20px auto;
  overflow: hidden;
  text-overflow: none;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: var(--branco);
}

.tabs .content {
  margin-top: 30px;
  color: var(--branco);
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: var(--fames);
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: var(--fames);
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  background: var(--fames);
  color: var(--branco);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
@media (max-width: 767px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  background: var(--fames);
  cursor: default;
  color: var(--branco);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@media (max-width: 767px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 991.98px) {
  .tabs ul li label {
    white-space: initial;
  }
}
@media (max-width: 767px) {
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: center;
    flex-wrap: wrap;
  }
  .tabs .content {
    margin-top: 20px;
  }
}

/* Botões */
ul.modalidades {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
ul.modalidades li.mod {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
}
/* ul.modalidades > li:nth-child(1) > a {
  line-height: 1;
} */
a.btn.btn-up {
  display: block;
  width: 100%;
  min-height: 65px;
  padding: 15px 5px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2;
  color: var(--branco);
}
a.btn.btn-up:hover,
a.btn.btn-up:focus {
  box-shadow: inset 0 -4em 0 0 var(--link5);
}

/* Page - Formulário Estrangeiros */
#page-formulario h2{
  color: var(--branco);
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 991.98px) {
  #page-formulario h2{
    font-size: 1.5rem;
  }
}

#form-estrangeiro{
  color: var(--branco);
  margin: 40px auto 15px;
  max-width: 75%;
}
#form-estrangeiro h4{
  color: var(--branco);
text-transform: uppercase;
}
ul.option-container {
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
ul.option-container li{
  color: var(--branco);
  position: relative;
}
ul.option-container li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
ul.option-container li label{
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 1.35em;
  padding: 15px 25px 25px 80px;
  margin: 0px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
ul.option-container li:hover label{
	color: var(--branco);
}

ul.option-container li .check{
  display: block;
  position: absolute;
  border: 5px solid var(--branco);
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 20px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
ul.option-container li:hover .check {
  border: 5px solid var(--branco);
}
ul.option-container li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 0px;
	left: 0px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid var(--fames);
}

input[type=radio]:checked ~ .check::before{
  background: var(--fames);
}

@media (max-width:767px) {
  #form-estrangeiro{
    max-width: 90%;
  }
    ul.option-container {
      display: block;
      padding: 0;
      margin-bottom: 45px;
  }
  ul.option-container li label {
      padding: 15px 25px 25px 10px;
  }
}
#campos-presencial, #campos-ead{
  display: none;
}
#campos-presencial label, #campos-ead label{
  text-transform: uppercase;
}
#form-estrangeiro .enviar{
  background: var(--link5);
  border: none; 
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


/*Mobile*/
@media (min-width: 768px){
  #form-estrangeiro, .tabs{
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 8px;
  }
}
@media (max-width: 767px){
  .mobile-wrapper{
    display: block;
    margin-right: -15px;
    margin-left: -15px;
  }
  .stripes {
    background-image: url(../images/bg_mobile.png);
    min-height: 100vh;
    height: 1300px;
    background-size: contain;
    background-repeat: repeat-y;
}
  .push-down {
    top: 25%;
  }
  img.topo-mobile {
    width: 100%;
    padding-top: 70px;
  }
  .navbar > .container, .navbar > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .logo {
    max-width: 70%;
  }
  .navbar > .container, .navbar > .container-fluid > .col-xs-6{
    padding:0.3rem;
  }
  .tabs {
    background:transparent;
  }
  
}
@media (max-width: 558px){
  img.topo-mobile {
    padding-top: 95px;
  }  
  .stripes {
    height: 1500px;
  }
  .tabs {
    background:transparent;
  }
}
@media (max-width: 450px){
  img.topo-mobile {
    padding-top: 120px;
  } 
  .tabs {
    background:transparent;
  } 
}
@media (max-height: 767px){
.push-down {
    top: 50%;
  }
}


  /* MODAL */
.modalDialog {
    position: fixed;
    color:#000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:transparent;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 90%;
    max-width: 550px;
    position: relative;
    margin: 20vh auto;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background:rgba(255,255, 255, 0.99);
    
}
.close {
    color: #000;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
    font-size:15px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.modal-link{
  cursor: pointer;
  color:var(--azul);
  font-weight: bold;
  display: block;
  text-align:center;
  line-height: 3;
  font-size: 2rem;
}
a.toggle.modal-link:hover{
  text-decoration: underline;
  color: var(--link2);
}
#target {
  
  width:90%;
  height:auto;
  padding:5px;
  margin: 0 auto;
  display:none;
}
.Hide{
  display:none;
}