:root{
	/* GERAIS */
	--branco: #ffffff;
	--preto: #000000;

	/* TEMA */
	--contrast: #D9AD29;
	--shadow: #02732A;
	--selected: #03A63C;
	--hover: #008A46;

}

*, *::after, *::before {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('images/gradient.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
a{
	color: var(--branco);
	text-decoration: none;
	font-size: 1.5rem;
	transition: .7s ease;
}
a:hover{
	text-decoration: underline;
}
h2 {
	color: var(--branco);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	font-size: 54px;
	font-weight: 900;
	padding: 2rem;
}
h3{
	margin-top: 200px;
	text-align: center;
}
p {
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: var(--branco);
}
.bg-image{
	width:100%;
}

.bg-image .desktop{	
    max-width: 100%;
    width: 100vw;
    margin: 0 auto;
}


.st-deco.logo {
	background: url('images/gradient.png') no-repeat;
	background-size: cover;
	z-index: 9;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tag{
	max-width: 300px;
	width: 100%;
	
}
.logo-img{
	max-width: 200px;
	width: 100%;
	margin: 1rem;
}

/* MENU */
.tabs{
	background: var(--branco);
	flex: 1;
	height: 100px;
	width: 100%;
   position: fixed;
   bottom: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   z-index: 99999;
	font-weight: 900;
	font-size: 1.2rem;
	letter-spacing: 2px;
	
}
.tabs span{
	color: var(--preto);
	
}
.tab-box {
	
	padding: .5rem;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.5s;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(0,0,0,0);
	display: flex;
}
.tabs a{
	color: var(--shadow);
}

.tabs a:hover{
	background: var(--hover);
	color: var(--branco);
}
.dot.active{
	box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
	background: var(--selected);
	border-bottom: 10px solid var(--contrast);
	text-decoration: underline;
	color: var(--branco);
}

.st-panel {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.st-panel .container{
	padding: 0 2rem;
	width: 100%;
}

.st-panel footer{
	padding: 2rem 0 0;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

/* LINKS CRM */
.ingresso {
	max-width: 1280px;
	width: 100%;
	margin: 2rem auto 0;
}

ul.list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	align-items: stretch;
}
.list-content {
	display: flex;
	flex-wrap: wrap;
}
.list-item {
	
	display: flex;
	justify-content: center;
	flex: 20%;
	align-items: stretch;
	width: 100%;
	margin: 10px;

}

a.link {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	background: var(--branco);
	color: var(--preto);
	width: 100%;
	max-width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.5rem;
	padding: 1rem;
}

.link:hover {
	transition: .7s ease, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	box-shadow: inset 0 -10px 0 0 var(--contrast);
	text-decoration: none;
}

/* Voltar ao topo */
#myBtn {
	display: none;
	position: fixed;
	bottom: 120px;
	right: 100px;
	z-index: 99; 
	text-align: center;
	color: var(--branco);
	cursor: pointer;
	padding: 10px;
	border-radius: 10px; 
 }
 
#myBtn a{
	color: var(--branco);
	display: block;
	text-decoration: none;
}
#myBtn span{
	display: block;
	text-align: center;
}
 #myBtn:hover {
	background-color: var(--selected);
	height: auto;
 }

 .arrow {
	border: solid var(--branco);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 8px;
 }
 .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
 }
  
 /* FORM */
 .form-group {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

form#form-estrangeiro {
	padding: 1rem;
}

label {
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

input.btn.btn-primary.enviar {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background: var(--amarelo);
	border: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

 .form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ------------ RESPONSIVE ------------ */
.desktop{display: block;}
.mobile{display: none;}

@media screen and (max-width: 981px) {
	.desktop{display: none;}
	.mobile{display: block;}
	.bg-image .mobile{	
		max-width: 100%;
		width: 80%;
		margin: 0 auto;
		padding-top: 55%;
  }

	.st-panel{
		padding-bottom: 200px;
	}
	h2 {
		font-size: 42px;
		margin-top: 50px;
	}
	.tabs{	
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 99999;
		height: auto;
	}
	.dot.active{
		border-bottom: 5px solid var(--contrast);
	}
	#myBtn {
		display: none !important;
	}
	ul.list {
		flex-direction: column;
  }
  .st-deco.logo {
	flex-direction: column-reverse;
	align-items: self-start;
}
.logo-img {
	align-self: center;
}

}
/* MODAL FORMS */

 
 /* modal */
 @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
 }
 .modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
 }
 
 /* display the modal overlay when the input[type=radio] is checked */
 .modal__state:checked + .modal__overlay {
	opacity: 1;
	animation: fade-in 0.4s;
	display: block;
	z-index: 9;
 }
 
 @keyframes scoot-up {
	0% {
	  margin-top: 80px;
	}
	100% {
	  margin-top: 50px;
	}
 }
 .modal {
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 2rem;
	background: #ffffff;
	text-align: left;
	color: #000;
	box-shadow: 0px 0px 38px rgb(0 0 0 / 20%);
	z-index: 9999999;
	overflow: auto;
}
 .modal__state:checked + .modal__overlay .modal {	
    animation: scoot-up 0.2s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .modal__close {
	position: absolute;
	top: 40px;
	right: 20px;
 }
 
 .modal__overlay-close {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
 }
 
 /* the input[type=radio] that's toggled when the label is clicked */
 .modal__state {
	display: none;
 }
 
  /* button styles */
  .button {
	color: var(--contrast);
	text-decoration: none;
	font-size: 1.5rem;
	transition: .7s ease;
	font-weight: normal;
}
 
 .button:hover, .button:focus {
	cursor: pointer;
	text-decoration: underline;
	
 }
 
 .button:active {
	margin-top: 4px;
	margin-bottom: -4px;
	box-shadow: 0 0 0 #ACCFCC;
 }
 
 /* close button */
 .button--close {
	padding: 0.2em 0.5em;	
	color: #000;
 }




